Begginer Course - n8n/B3___n8n_Demo_data.json
{
  "name": "B3 - n8n Demo data",
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1SkaqvE1ubJMM9IE7H46R7BtYgbEWSQdRHCzb-sGzJJo",
          "mode": "list",
          "cachedResultName": "n8n demo data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1SkaqvE1ubJMM9IE7H46R7BtYgbEWSQdRHCzb-sGzJJo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1SkaqvE1ubJMM9IE7H46R7BtYgbEWSQdRHCzb-sGzJJo/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        160,
        0
      ],
      "id": "45dc1b29-fc78-4c3d-b24d-e66f3ed490a7",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "yDkARTdjkvhUx82Q",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1caf86ba-c02d-4b8a-8891-f1f639052c9e",
              "name": "Full Name",
              "value": "={{ $json.Name }} {{ $json.Role.toUpperCase() }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        500,
        0
      ],
      "id": "336f2b4a-3fb8-452c-a6c0-c6d5e56b8a4a",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -20,
        0
      ],
      "id": "6f0f8f41-9917-428f-877a-e5729c74364a",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "85ff1873-498b-45f7-ae5d-aa4170a25dc0",
              "leftValue": "={{ $json.Email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        320,
        0
      ],
      "id": "9a44c402-61ea-4ec9-9d02-53eea14191f8",
      "name": "Filter"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1e9c3ee6-a363-4c91-8b82-72aa52dc4e47",
              "leftValue": "={{ $json.Email }}",
              "rightValue": "@gmail.com",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            },
            {
              "id": "3ae1d29f-8de1-4b9e-95cc-18f7609a5e40",
              "leftValue": "={{ $json.Email }}",
              "rightValue": "@hotmail.com",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        780,
        0
      ],
      "id": "0422587f-75bf-4f68-85df-f7ff3274a7db",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1060,
        -80
      ],
      "id": "54608970-b48d-44a6-a9a5-5bbe007c5122",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1060,
        120
      ],
      "id": "2f138e6a-4ea7-4d90-a499-09391a56b312",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0a264867-d140-444c-a574-c808d6cdfc04",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        820,
        -240
      ],
      "id": "4abfe4b9-9544-4f9e-8248-b00c738a680d",
      "name": "If1"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          },
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "22f26346-24e6-4053-a1d7-9d5bd7f59d3f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "92ddc221e2470f51e4080ec80cdbb4ff99792bcddff88f443959a4f9d8b09326"
  },
  "id": "SJaGCoCM8HTqnLtU",
  "tags": []
}