Begginer Course - n8n/B6___n8n_Usefull_Node.json
{
  "name": "B6 - n8n Usefull Node",
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1SkaqvE1ubJMM9IE7H46R7BtYgbEWSQdRHCzb-sGzJJo",
          "mode": "list",
          "cachedResultName": "n8n demo data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1SkaqvE1ubJMM9IE7H46R7BtYgbEWSQdRHCzb-sGzJJo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1SkaqvE1ubJMM9IE7H46R7BtYgbEWSQdRHCzb-sGzJJo/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        160,
        0
      ],
      "id": "9a83578f-38b3-432c-95dc-1a1ecdb1b144",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "yDkARTdjkvhUx82Q",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1caf86ba-c02d-4b8a-8891-f1f639052c9e",
              "name": "Full Name",
              "value": "={{ $json.Name }} {{ $json.Role.toUpperCase() }}",
              "type": "string"
            },
            {
              "id": "7c36c004-fcf9-49e9-a231-f77128978c18",
              "name": "Email",
              "value": "={{ $json.Email }}",
              "type": "string"
            },
            {
              "id": "28a33da8-70dc-4011-88b3-ac5e30333a92",
              "name": "Role",
              "value": "={{ $json.Role }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        340,
        0
      ],
      "id": "b596503c-e362-4767-ab27-2de10f69b839",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -20,
        0
      ],
      "id": "96351eb6-dd0f-4101-804a-2229e2ab8d67",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0549a3dc-4d8b-4ba4-a092-bcf7e37e04aa",
              "leftValue": "={{ $json.Email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        560,
        0
      ],
      "id": "6680fe3f-1bf3-4b36-b315-0b8e28fba073",
      "name": "Filter"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f64b3586-d6d8-43a9-a317-7ac614c4eded",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        780,
        0
      ],
      "id": "0ed7cc54-0b32-4609-8497-4212a8d2ed41",
      "name": "If"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "Email"
            },
            {
              "fieldToAggregate": "Role"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1100,
        -180
      ],
      "id": "a637b8e5-7aa5-48fa-857a-3d62af8f399c",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "user",
        "user": {
          "__rl": true,
          "value": "U08RW2YS5LL",
          "mode": "list",
          "cachedResultName": "ebayyouanggoro.e"
        },
        "text": "=Recap of the sign ups of the weak:\n{{ $json.Email }}\n\nRole that signed up this weak :\n{{ $json.Role }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        1320,
        -180
      ],
      "id": "1dd4f307-29e4-4d94-ab38-c6397e934bb7",
      "name": "Slack",
      "webhookId": "5b9450a4-8d7e-4f76-b5ac-d522931e0aa7",
      "credentials": {
        "slackOAuth2Api": {
          "id": "nm4QLGzwymTmGzfe",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1000,
        100
      ],
      "id": "5bce313f-9bd2-4dbf-80a4-bbc2577581ee",
      "name": "No Operation, do nothing"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "053e12c4-0862-4563-bc92-b9d0f585c90c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "92ddc221e2470f51e4080ec80cdbb4ff99792bcddff88f443959a4f9d8b09326"
  },
  "id": "Fz39vUfJPzXvEBeT",
  "tags": []
}